.block {
  text-align: center;
  float: left;
}

.row:nth-of-type(odd) .block.non-clicked:nth-of-type(odd) {
  background-color: #63c7b2;
  border: 1px solid #48b39c;
}

.row:nth-of-type(odd) .block.non-clicked:nth-of-type(even) {
  background-color: #80ced7;
  border: 1px solid #48b39c;
}

.row:nth-of-type(even) .block.non-clicked:nth-of-type(odd) {
  background-color: #80ced7;
  border: 1px solid #48b39c;
}

.row:nth-of-type(even) .block.non-clicked:nth-of-type(even) {
  background-color: #63c7b2;
  border: 1px solid #48b39c;
}

.row:nth-of-type(odd) .block.non-clicked:nth-of-type(odd):hover {
  background-color: #ccdbdc;
  border: 1px solid #48b39c;
}

.row:nth-of-type(odd) .block.non-clicked:nth-of-type(even):hover {
  background-color: #ccdbdc;
  border: 1px solid #48b39c;
}

.row:nth-of-type(even) .block.non-clicked:nth-of-type(odd):hover {
  background-color: #ccdbdc;
  border: 1px solid #48b39c;
}

.row:nth-of-type(even) .block.non-clicked:nth-of-type(even):hover {
  background-color: #ccdbdc;
  border: 1px solid #48b39c;
}

.non-clicked span,
.non-clicked div {
  display: none;
}

.non-clicked:hover {
  background-color: #b5ddd9;
}

.block.clicked:nth-of-type(odd) {
  background-color: #cbbcc8;
  transition: background-color 0.3s ease-in 0s;
  border: 1px solid #c29aba;
}

.block.clicked:nth-of-type(even) {
  background-color: #d5c9d3;
  transition: background-color 0.3s ease-in 0s;
  border: 1px solid #c29aba !important;
}

.clicked span {
  transition: color 0.5s ease-in-out 0.1s;
  color: white;
  font-weight: bold;
  cursor: default;
}

.flag-icon {
  color: #ff0202;
  height: 2em !important;
  width: 1.5em !important;
  transition: color 2s ease-in-out 0.1s;
}

.bomb-icon {
  color: #720808;
  height: 2em !important;
  width: 1.5em !important;
  transition: color 2s ease-in-out 0.1s;
}

.hide {
  display: none;
}
